apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  name: consul
  namespace: global
  labels:
    role: consul
spec:
  replicas: 1
  selector:
    matchLabels:
      role: consul
  template:
    metadata:
      labels:
        role: consul
    spec:
      containers:
      - image: consul
        name: consul
        ports:
        - name: http
          containerPort: 8500
