apiVersion: v1
kind: Service
metadata:
  name: nginx-ingress
  namespace: decco
spec:
  ports:
  - port: 443
    protocol: TCP
    targetPort: 443
  selector:
    k8s-app: nginx-ingress
  sessionAffinity: None
  type: ClusterIP
  ipFamilyPolicy: PreferDualStack
